 *{
        box-sizing: border-box;
     }

     h1{

        font-size: 100px;
        color: rosybrown;
        text-align: center;
        margin-bottom: 15px;
     }

     .container{
        overflow: none;
        border:1px solid black;
        margin-right: 10px;
        background-color: lightcyan;
        margin-top: 20px;
     }


  .heading{
    overflow: none;
    position: relative;
    margin-right: 2px;
    float: right;
    padding: 5px;
    width: 100px;
    height: 50px;
   
    color: black;
    margin-top: 0px;
    border: 4px solid black;
    font-size: 25px;
    font-style: italic;

        }
  }
    .main{
        
        padding:4% ;
        padding-top: 60px;
        border: 5px solid black;
        width: 90%;
        height: auto;
        margin: 15px;
        background-color: rgba(0,0,0,0.3);
        color: black;
        font-style:oblique ;

    }

   


     .bgcolor1{
        background-color: lightskyblue;
     }

      .bgcolor2{
        background-color: lightgreen;
      }
     .bgcolor3{
        background-color: lightcoral;
     }






    h2{
        
    font-style: italic;
        }

    .row{
        width: 100%;
        overflow: none;
        margin-top: 7%;
        margin-bottom: 7%;
  }

    
/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    width: 33.33%;
  }
}
/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6,.col-md-12 {
    float: left;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
  }
  
  }


@media (min-width: 0px) and (max-width: 767px) {
  .col-sm-12 {
    float: left;
    width: 100%;
  }
 
}

 
